<article class="post">
    <div class="left">
        <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}"></a>
    </div>
    <div class="right">
        <div class="category">{{ post.categories|join:", " }} : {{ post.date | date_to_string }}</div>
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        {% if post.author %}<span>by <b>{{ post.author }}</b></span>{% endif %}

        <div class="entry">
            {% if post.summary %}
                {{ post.summary }}
            {% else %}
                {{ post.excerpt }}
            {% endif %}
        </div>
    </div>
</article>
