---
layout: default
---

<article class="post">
    <h1>{{ page.title }} by {{ page.author }}</h1>

  <div class="entry">
      <div class="summary">
      {% if page.summary %} {{ page.summary }} {% endif %}
      </div>

      {% if page.link and page.image %}
      <p><a href="{{ page.link }}"><img src="{{ page.image }}" alt="{{ page.title }} by {{ page.author }}"></a></p>
      {% endif %}

    {{ content }}

    <div class="review">
    {% if page.review %} {{ page.review }} {% endif %}
    </div>

    <div class="rating">
    {% if page.rating %} {{ page.rating }}/5 {% endif %}
    </div>
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

</article>
