---
layout: default
---

<article class="post">
    <h1>{{ page.title }} by {{ page.author }}</h1>

  <div class="entry">
      {% if page.summary %}
        {{ page.summary }}
      {% endif %}

      {% if page.link and page.image %}
      <p><a href="{{ page.link }}"><img src="{{ page.image }}" alt="{{ page.title }} by {{ page.author }}"></a></p>
      {% endif %}

    {{ content }}

    {% if page.review %}
        {{ page.review }}
    {% endif %}

    {% if page.rating %}
        {{ page.rating }}/5
    {% endif %}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
